body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Inconsolata", monospace;
}

.main-container{
    display: grid;
    grid-template-rows: repeat(9, 100px);
    grid-template-columns: repeat(9, 100px);
    gap: 10px;
    width: 980px;
    height: 765px;
    background-color: rgb(43, 117, 255);
    padding: 10px;
    border-radius: 20px;
}

.navbar{
    grid-column: 1/ 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 26, 26);
    border-radius: 10px;
}

.nav-content{
    position: relative;
    left: 50px;
}

.nav-content > a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    margin: 0 10px;
}

.nav-content > a:hover{
    color: grey;
}

.nav-social > a{
    color: aliceblue;
    margin: 0 10px;
}

.nav-social > a:hover{
    color: grey;
}

.food-image{
    grid-column: 1 / 6;
    grid-row: 2 / 8;
    display: flex;
    align-items: flex-end;
    background-image: url(./asset/spagetti.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}   

.food-image > h1 {
    color: rgb(255, 104, 44);
    font-family: "Poppins", sans-serif;
    font-size: 4rem;
    
    margin-left: 15px;
    
    /* Efek outline hitam dengan text-shadow */
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,  
        -1px 1px 0 #000,  
        1px 1px 0 #000;
}


.food-content{
    grid-column: 6 / 10;
    grid-row: 2 / 6;
    background-color:  rgb(26, 26, 26);
    border-radius: 10px;
    padding: 5px 10px;
    color: aliceblue;
}

.food-content > h1{
    font-size: 3rem;
}

.food-content > p{
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.menu-content{
    grid-column: 6 / 8 ;
    grid-row: 6 / 8;
    padding: 5px;
    background-color: rgb(248, 248, 142);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.menu-content .bx-fork{
    position: relative;
    top: 100px;
    left: 160px;
}

.menu-content:hover{
    background-color: rgb(255, 255, 81);
}

.order-content{
    grid-column: 8 / 10;
    grid-row: 6 / 8;
    padding: 5px;
    background-color: rgb(126, 255, 126);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.order-content .bx-knife{
    position: relative;
    top: 100px;
    left: 160px;
}

.order-content:hover{
    background-color: rgb(66, 255, 66);
}

.bx{
    font-size: 30px;
}

.bx-fork:hover{
    transform: rotate(-45deg);
}



.bx-knife:hover{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}






